.navbar {
  position:fixed;
  left:0px;
  top:20px;
  height:65px;
  width:100%;
  background:#d67424;
  border-top: 3px solid #d5d5d5;
  border-bottom: 3px solid #d5d5d5;
  font-size: .8em;
  margin-bottom: 200px;
  z-index: 1;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Main content */
.main {
  margin-top: 80px; /* Add a top margin to avoid content overlay */
}

body {
  background-image: url("/public/images/Background-Foggy.jpg");
  background-color: black;
  margin: 200px auto;
  width: 70%;
  padding-top: 100px;
}

body html {
  height: 100%;
}

.parallax {
  /* The image used */
  /*background-image: url("/public/images/background-foggy.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul, footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
  font-size: 1.4em;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

#page-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 4em;
  color: #d67424;
  /*margin-bottom: 150px;*/
}

div.text-block {
  background-color: black;
  box-sizing: border-box;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: 3px solid #d67424;
}

div.title-block {
  margin-top: 130px;
}

div.one-block {
  margin-top: 380px;
}

div.clock-block {
  height: 430px;
  margin-top: 380px;
}

div.weather-block {
  margin-top: 380px;
}

div.four-block {
  margin-top: 380px;
}

div.five-block {
  margin-top: 380px;
}

a {
  text-decoration: none;
  color: white;
}

/*a.levelone {
  top: -200px;
}*/

/*a.section-title {
  top: -150px;
  display: block;
  top: -260px;
  visibility: hidden;
}*/

a:hover {
  text-decoration: underline;
}

/*h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}*/
h1 {
  padding-top: 0px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: white;
}

footer {
  position:fixed;
  left:0px;
  bottom:20px;
  height:65px;
  width:100%;
  background:#d67424;
  border-top: 3px solid #d5d5d5;
  border-bottom: 3px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.alignleft {
	float: left;
  padding: 14px 16px;
}

.alignright {
	float: right;
  padding: 14px 16px;
}
