.navbar {
  position:fixed;
  left:0px;
  top:0px;
  height:65px;
  width:100%;
  background:#d67424;
  border-bottom: 3px solid #d5d5d5;
  font-size: .8em;
  margin-bottom: 200px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 80px; /* Add a top margin to avoid content overlay */
}

body {
    background-color: black;
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.4em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}

a.section-title {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

ul.project-list {
  font-size: 50px;
}

a:hover {
    text-decoration: underline;
}

/*h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}*/
h1 {
  padding-top: 20px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

#page-title {
  font-size: 4em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:65px;
  width:100%;
  background:#d67424;
  border-top: 3px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
